<mat-card class="" appearance="outlined">
  <mat-card-header>
    <!--div mat-card-avatar class=""></div-->
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>Brand: {{ product.brand }}</mat-card-subtitle>
  </mat-card-header>
  @if(productImgSrc.length > 0){
    <img mat-card-image 
    [src]="productImgSrc[0]" 
    alt="image of product: {{ product.name }}"
    [height]="imgDimension"
    [width]="imgDimension"/>
  }
  @else {
    <img mat-card-image 
    [src]="defaultImage" 
    alt="No image for product: {{ product.name }}"
    [height]="imgDimension"
    [width]="imgDimension">
  }
  <mat-card-content>
    <p class="mat-typography">
      Price: {{ product.price }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <app-add-to-cart-button
      [productId]="product.id"
      (itemAdded)="handleAddToCart($event)" class="margin-top-5rem">
    </app-add-to-cart-button>
  </mat-card-actions>
</mat-card>